#spCommandBar{
	    display: none !important;
}
#spSiteHeader{
	    display: none !important;
}
#pageHeader{
	    display: none !important;
}
#sp-appBar{
	    display: none !important;
}
.webPartContainer{
	    display: none !important;
}
#TitleTextId{
	    display: none !important;
}
#CommentsWrapper{
	    display: none !important;
}
#beee4bea-9346-49be-9952-0f4c265a75b9{
	margin: 0px !important;
}
#e1879146-ee16-49db-b5f6-191334d4da8b{
	margin: 0px !important;
}
.a_a_50a7110f{
	padding: 0px !important;
}
.container{
	max-width: 1185px !important;
}
.a_c_50a7110f a_c_50a7110f{
	background: #f0eff0;
}
.m_c_50a7110f{
	background: #f0eff0;
}
.a_c_50a7110f{
	background: #f0eff0;
	padding: 0 10px !important;
}
#SuiteNavWrapper{
	display: none !important;
}



